[2015-05-15 12:30] Vampouille opened #1 "Add a way to move/reorganize clip"

[2015-05-15 12:31] Vampouille opened #2 "Add delete button on clip"

[2015-05-15 12:32] Vampouille opened #3 "Restore old device state when clicking on Cancel (Learn dialog)"

[2015-05-16 09:29] Vampouille opened #4 "Remove need of external app to manage tempo"
Add a master/slave mode on tempo
Add an editable field for bpm
Add transport button : start, stop, rewind
Add 'go to' button to jump transport to specified bbt

[2015-05-16 09:34] Vampouille opened #5 "Add info about clip"
Add clip length in sample and beat according to current bpm

[2015-05-16 09:39] Vampouille opened #6 "redraw pad ui when switching device"

[2015-05-17 09:10] Vampouille opened #7 "Master volume not controllable via external midi device"

[2015-05-17 09:56] Vampouille opened #8 "Handle song size"

[2015-05-17 10:27] #7 closed

[2015-05-17 10:33] #6 closed

[2015-05-17 10:54] #5 closed

[2015-05-17 16:16] #4 closed

[2015-05-18 08:21] Vampouille opened #9 "Change store format to pickle for device and remove useless tuple() call"

[2015-05-18 08:22] Vampouille opened #10 "Add learn widget for transport"

[2015-05-18 08:23] Vampouille opened #11 "Fill bbt_offset field"

[2015-05-18 08:25] Vampouille commented on #3
This can be done with function deepcopy() in copy module

[2015-05-18 10:02] Vampouille opened #12 "need restart when editing device"
new buttons are not working until superboucle is restarted.

[2015-05-18 10:07] Vampouille opened #13 "update ui when clip volume changed with midi control"
update also clip size in beat when bpm change

[2015-05-18 10:09] Vampouille commented on #11
Move beat offset calculation from process callback to timebase callback and use bbt_offset field in process callback

[2015-05-18 10:12] Vampouille opened #14 "improve song storage"
Make a zip with metadata and audio ?
Test if song file can be moved
Add a ui widget to relocate missing audio files?

[2015-05-19 13:43] Vampouille opened #15 "Add loading notification when opening song"

[2015-05-19 14:04] #3 closed

[2015-05-19 14:04] #12 closed

[2015-05-19 14:25] #9 closed

[2015-05-19 15:44] #8 closed

[2015-05-19 15:55] Vampouille opened #16 "Handle exception when files are not found"

[2015-05-21 13:34] Vampouille commented on #15
close by fe1572a112a8e4f2f6526418a1325756427762ee

[2015-05-21 13:34] #15 closed

[2015-05-21 13:35] #2 closed

[2015-05-21 13:35] #10 closed

[2015-05-25 11:58] Vampouille commented on #14
Use a zip !

[2015-05-25 11:58] Vampouille opened #17 "Add record feature"

[2015-05-25 11:59] Vampouille opened #18 "bug a volume ctrl : switch between x and y"

[2015-05-26 10:30] #18 closed

[2015-05-28 12:49] #14 closed

[2015-05-29 11:35] ycollet opened #19 "add where to find python soundfile module"
soundfile module is not shipped by fedora.
Please, add in the documentation where to find soundfile, or embeds it in the superboucle repo

[2015-06-01 09:41] Vampouille commented on #19
In order to install PySoundFile, you need CFFI and NumPy package did you successfully install those packages ?
Then, you need libsndfile system package. In fedora you have this package :
https://apps.fedoraproject.org/packages/libsndfile
and this package :
https://apps.fedoraproject.org/packages/libsndfile-devel
So I think you just need to install libsndfile and libsndfile-devel packages

[2015-06-03 07:49] Vampouille commented on #19
Can you confirm that it's working on fedora ?

[2015-06-03 08:32] Vampouille opened #20 "add extension on file"

[2015-06-03 09:50] ycollet commented on #19
Sorry, I haven't found the time to test it. I will test this on thursday evening.
Best regards

[2015-06-04 12:56] Vampouille commented on #19
A new version is available on sourceforce : 1.1.0 :
http://downloads.sourceforge.net/project/superboucle/SuperBoucle-1.1.0.tgz

Now, you can record with superboucle.

[2015-06-04 13:32] #20 closed

[2015-06-04 13:33] #17 closed

[2015-06-05 05:40] ycollet commented on #19
Hello,

All the packages are installed but I still have an error related to the soundfile module:

$ make
./boucle.py
Traceback (most recent call last):
  File "./boucle.py", line 7, in <module>
    from clip import Clip, Song
  File "/home/collette/repositories/superboucle/clip.py", line 2, in <module>
    import soundfile as sf
ImportError: No module named 'soundfile'
Makefile:6: recipe for targ

[2015-06-05 05:42] ycollet commented on #19
Do you use this package: https://pypi.python.org/pypi/PySoundFile

[2015-06-05 05:44] ycollet commented on #19
To install the dependency: pip install pysoundfile

[2015-06-05 05:46] ycollet commented on #19
And because superboucle uses python3, under fedora, as a root user: pip3 install pysoundfile (you need to install the pip3 package before).

[2015-06-05 09:46] Vampouille commented on #19
Yes those instructions are in requirement part of readme file, not install part. I need to rewrite this part. This is the python module part :

`sudo pip3 install cffi` (maybe you can use system package, tested with version 0.9.2)
`sudo pip3 install numpy` (again you can try system package, tested with 1.9.2)
`sudo pip3 install PySoundFile` (this need libsndfile system libs)

[2015-06-05 10:13] ycollet commented on #19
It's OK for me. I leave you close this bug ?

[2015-06-05 10:15] Vampouille commented on #19
ok, Thanks for feedback

[2015-06-05 10:15] #19 closed

[2015-06-23 19:48] wargreen opened #23 "No module named 'gui_ui'"
Hi,
After install all modules via pip, as in the README, I got

 Traceback (most recent call last):
  File "boucle.py", line 8, in <module>
    from gui import Gui
  File "/home/wargreen/Téléchargements/Audio/superboucle/gui.py", line 12, in <module>
    from gui_ui import Ui_MainWindow
ImportError: No module named 'gui_ui'

[2015-06-24 10:44] Vampouille commented on #23
Hello,

I think you try to launch superboucle from dev archive. Did you download a release version 1.1.0 ?

Release versions contains modules like gui_ui, so first solution is to download last release here :
https://github.com/Vampouille/superboucle/releases

If you want to run dev version, you will have to generate those module with `make run` command. For this, you will need PyQT5 dev tools.

[2015-06-30 09:52] #23 closed

[2015-07-06 14:52] sonejostudios opened #24 "Wiki"
Update! :)

http://superboucle.nura.eu/index.php/manual/

[2015-07-09 09:44] wargreen opened #25 "ZeroDivisionError: float divmod()"
Divise beat by zero return
From cffi callback <function Client.set_process_callback.<locals>.callback_wrapper at 0x7f25d246bbf8>:
Traceback (most recent call last):
  File "/opt/SuperBoucle-1.1.0/jack.py", line 878, in callback_wrapper
    return callback(frames)
  File "boucle.py", line 65, in my_callback
    clip.beat_diviser)
ZeroDivisionError: float divmod()

[2015-07-09 09:45] wargreen opened #26 "Invalid message length with Aftertouch messages"

[2015-07-09 12:29] Vampouille commented on #26
Can you give me error message ? did you just get "Invalid message length" in terminal ? is it working ?

[2015-07-09 12:57] Vampouille commented on #25
Can you retry with last 1.2.0 version, I just added some check to fix your issue :

https://github.com/Vampouille/superboucle/releases/download/1.2.0/SuperBoucle-1.2.0.tgz

[2015-07-09 12:58] wargreen commented on #26
I got only this message in my terminal., and impossible to learn.
This appen with a MPD24.

[2015-07-09 12:58] Vampouille commented on #25
Are you using mac osx ?

[2015-07-09 13:19] Vampouille commented on #26
Can you try to disable aftertouch feature ? you can also try with [FULL LEVEL] option activated.
For learning did you click on "Learn first line" button ?

[2015-07-09 13:21] #13 closed

[2015-07-09 14:19] wargreen commented on #25
It work !
I use Debian SID x64.

[2015-07-09 14:31] wargreen commented on #26
It seem to be fixed with the new version !

[2015-07-15 19:25] IARI opened #28 "Separate gui from data?"
How would you feel about separating the gui from the data a bit?
i.e. make a class that holds
- playlist
- devices
- song
- portlist
- ..

while the gui just keeps in charge of the state of the main window itsself?

I felt I wouldn't to do this in the fork, because its a little more of a basic change so it would feel right to pull it from upstream, but if you find it a good ide but don't want to d

[2015-07-16 09:08] #26 closed

[2015-07-16 09:09] #25 closed

[2015-07-16 09:17] Vampouille commented on #28
The gui.py file should be shorter, it's a good idea to move some code from gui file to other files. About classes, we have already a class for devices and songs (and portlist is implemented in song class). Can show me some piece of code that should not be in gui file ?

[2015-07-21 22:35] IARI opened #29 "lots fo duplicated code in learn.py"
for instance look at the processNote method - why is it that way?

[2015-07-24 09:44] Vampouille commented on #29
I think it's more readable this way. But I agree with you, this is not good... There is also a bug with knowCtrl and knownBtn list : When you overwrite some mapping, old values are not removed from lists of used btn an ctrl. So you cannot switch two controls (for example play and pause).
Those lines :

    self.knownCtrl.add(ctrl_key)
    self.knownBtn.add(btn_key)

are not present in every if par

[2015-07-24 17:22] CyBerNetX opened #30 "Device Midi"
i have buy a Akai APC Mini and i need some help or precision for making sbm file by correct way

i have all buttons but i'm not sure for  transport button and line button
because there is no play button but clip stop , solo, rec arm, etc like in the picture
http://6be54c364949b623a3c0-4409a68c214f3a9eeca8d0265e9266c0.r0.cf2.rackcdn.com/990/images/APCmini_ortho_web_lg.png
i think  it was for the ri

[2015-07-25 09:07] Vampouille commented on #30
Hello,

Based on your apc picture, I will suggest you to use last column of your 8x8 buttons grid for "line buttons". With this setup, you will a matrix of 7x8 clips. Assign fader 1 to 7 to "controllers" part of "clips volume per line" and last fader (fader 9) to master volume. Then you can assign any of remaining buttons (buttons on right : clip stop, solo, ...) to transport. No matter if you ass

[2015-07-25 13:13] CyBerNetX commented on #30
thanks
also i have translated readme.md to french
http://www.linuxmao.org/traduction+du+README.md+du+github

[2015-07-25 16:09] IARI commented on #29
That's a good idea - i'll put it in our fork :)

[2015-07-25 16:16] IARI opened #31 "I don't like add_port.py"
Theres two things I don't really like about it:

 1. you're giving it a callback - why not handle it like the other mini-dialogs in pyqt are done: let it return asynchronously with a response
 2. on ok it handles part of what hast to be done:
[code]
but the other part is in the callback

Finally: why do you even need this class? whats wrong with a QInputDialog?

[2015-07-25 17:34] IARI commented on #29
Actually I in gui.py there is a similar situation in processNote:
There is a big if construct to decode what function to use for what message.
i would consistently replace it with a mapping from midi-messages (or your abstract representations of them) directly to functions. Would you agree?

[2015-07-25 18:44] CyBerNetX commented on #30
there is a bug ?? when export device Midi and import sbm file is empty

[2015-07-25 19:05] CyBerNetX commented on #30
AKAI_APC_Mini.sbm :

-8<-------------------------------------8<------------------------------
{"block_buttons": [[9, 0, 82, 127], [9, 0, 83, 127], [9, 0, 84, 127], [9, 0, 85, 127], [9, 0, 86, 127], [9, 0, 87, 127], [9, 0, 88, 127], [9, 0, 89, 127]], "amber_vel": 5, "init_command": [], "start_stop": [[[9, 0, 56, 127], [9, 0, 57, 127], [9, 0, 58, 127], [9, 0, 59, 127], [9, 0, 60, 127], [9, 0, 61, 12

[2015-07-26 08:46] IARI opened #32 "pep8"
@Vampouille
There are a few things which are not pep8 conform (i.e. some fields and functions/methods are camel case).

Would you like to endorse the full pep8 conventions?

[2015-07-27 08:28] Vampouille commented on #32
yes, there is a mix of camelCase and lower_case. If pep8 recommend lower_case we will turn all code in lower_case.

[2015-07-27 08:36] Vampouille commented on #29
yes, but can you make this modification in a new branch created from last tag 1.2.0 ?

[2015-07-27 08:49] Vampouille commented on #31
I don't have recheck code but I think it is because I use this dialog in manage ui and in main ui. When I use it in manage ui I need to update list of manage ui and droplist in main ui.

[2015-07-27 09:21] IARI commented on #32
yep, it does :) However you might have seen too that pyQt does not comply - they keep the camelcase convention, so I'm not sure how to handle that.
I just found a stackoverflow question on the topic
http://stackoverflow.com/questions/3647518/pep8-and-pyqt-how-to-reconcile

what do you think?

[2015-07-27 09:27] IARI commented on #29
Damn i have already started - To be honest i have rewritten the whole device and most of learn.py.
in the main branch of our fork..but I will try to put it in a new branch!

[2015-07-27 10:47] trebmuh opened #33 "FR readme.md translation"
Comme signalé par @CyBerNetX ici : https://github.com/Vampouille/superboucle/issues/30#issuecomment-124846621 , pourriez-vous vérifier la traduction du README.md  en français ( http://www.linuxmao.org/traduction+du+README.md+du+github ) afin de vérifier que tout correspond à ce que vous vouliez vraiment dire ?
Merci à CyBerNetX pour la traduction et à vous pour le logiciel !

en version anglaise :

[2015-07-29 08:33] Vampouille commented on #33
I already made a french translation here :
http://www.linuxmao.org/superboucle
It should already contains all informations of readme file, maybe I can put it in a readme.md.fr ? I don't known what conventions is used on github.

[2015-08-01 13:27] trebmuh commented on #33
Would be an idea yes.
Re: the 2 pages on linuxmao, reading at those quickly gives me the impression that the new one is covering more than the 1st one. I could be just an impression though.
I've been helping @CyBerNetX to get in touch with you and github, now my job is done and I'm leaving you guys talking together. HTH.
Cheers.

[2015-08-03 17:27] IARI commented on #29
Ok, brace yourself @Vampouille, here it is: 660dd953ac96a5a0a9492f65db1e5f281f13242b

[2015-08-13 13:13] IARI opened #35 "midi feedback on update is not always sent properly"
When a song is loaded, midi feedback for all clips states is sent, so on the device (i.e. the launchpad) the lights will be displayed according to the song's clip setup.

Mostly this works fine, but sometimes (in an unpredictable fashion) it does not: it just doesn't send anything or only a part of the expected midi signals (noticed with launchpad and double-checked with qmidiroute)

I plan to fix

[2015-09-03 09:52] Vampouille commented on #35
Can you make a new PR for this issue ? So I can merge this fix in master easily.

[2015-09-03 09:55] IARI commented on #35
sure, i'll be back home next week and cant start working on that before
then :)
Am 03.09.2015 11:52 schrieb "Vampouille" <notifications@github.com>:

[2015-09-09 21:33] CyBerNetX opened #36 "import device midi"
hi the import of midi instrument (*.sbm file) did not functional
i wanted to import my apc mini but i cant import the sbm file describ in Device Midi post

[2015-09-10 09:54] Vampouille commented on #36
Hello,

There is an issue with sbm import tools. I will fix this.

In the meantime, you can try learn feature because you can modify your APC configuration. So an sbm file from one user may not work with another user if they don't have same APC configuration.

You can find detailed instruction here : http://superboucle.nura.eu/index.php/midi-devices/

[2015-09-10 12:29] Vampouille commented on #36
Hello, this is the same issue as #30

[2015-09-10 12:29] #36 closed

[2015-09-10 12:36] Vampouille commented on #30
This commit should fix issue about importing device with sbm files : ea1967aeac626809b8ff4b0f4a7ac306471ee9ff
Can you retry ?
You can replace your device.py file with new one : https://github.com/Vampouille/superboucle/blob/master/device.py

[2015-09-10 12:38] Vampouille commented on #35
Did you notice xruns when you have feedback issue ? Can you retry with gui window reduced (not visible on screen) ?

[2015-09-10 12:44] Vampouille commented on #32
We use 2 library : QT and Jack QT prefer camelCase and jack prefer lower_case. In most case, we will use camelCase for function and keep lower_case for attribute.

[2015-09-10 12:44] #32 closed

[2015-09-10 12:56] #31 closed

[2015-09-10 13:12] Vampouille commented on #33
I just added a french translation in bcf953f3e2b8848d4a9e876d8c0e0ffcde7da644

[2015-09-10 13:12] #33 closed

[2015-09-10 13:14] Vampouille opened #37 "Add feature to lock a clip : prevent a clip from being recorded"
A checkbox in the edit panel to disallow recording on this clip

[2015-09-10 13:15] #24 closed

[2015-09-10 13:42] trebmuh commented on #33
Super.

[2015-09-23 10:48] IARI commented on #35
@sonejostudios tells me apparently there are xruns on song-load sometimes. Do you think this can be responsible for midi messages in the out_queue not being sent? (that sounds not safe to me)

[2015-09-23 11:56] Vampouille commented on #35
I think QT part sometimes slow down python interpreter, if you increase refresh rate of progress bar (main gui), you will have many xruns. Gui should not slow down jack callback because callbacks are called from another thread.
One solution is to separate gui from main loop : maybe I need to create a python "thread" or run a second python interpreter.
Second solution is to limit midi messages coun

[2015-09-24 19:11] IARI commented on #35
I assume, superboucle would not be the only pyqt based program having trouble with xruns then?
Are there any interesting discussions, maybe in context of the python jack-lib-wrapper about the issue?

[2016-06-23 07:18] fenderrex commented on #19
can some one please update the setup.py?

[2016-06-23 08:05] Vampouille commented on #19
Maybe I can add sometime like this :
[code]
But I don't known how to write module name : 'PyQT 5' or 'pyqt5' or 'PyQT5' ?

[2016-08-28 20:37] mendomusic opened #45 "GUI: takes 120% of screen"
running the program from command line on Mint with conda python, the window is about 120% larger than my screen.

--> I cannot see the main menu.

[2016-08-29 07:35] Vampouille commented on #45
Window size is fixed by size song : each clip take a fixed size. What is your screen definition ? I agree with you, clip should be resize in order to fit screen.
As a workaround, you can hold 'alt' key and then drag & drop main window (with alt key you should be able to move main window even if you don't see menu bar).Then you can use menu to define new song with less clips, for example 7x7 or 8x7

[2016-08-29 19:46] mendomusic commented on #45
1366x768

this would be a great thing.

Possible but still leaves the window too large.

[2016-08-30 07:23] Vampouille commented on #45
even with little song like 4x4 ?

[2017-09-20 11:04] tecan opened #46 "application not launching"
have tried both with jack running and without.

Traceback (most recent call last):
  File "boucle.py", line 209, in <module>
    client.connect(record[1], inR)
IndexError: list index out of range

[2017-09-21 08:44] Vampouille commented on #46
It seems that your jack setup are missing some output. Did you have a stereo output or mono configured in jack ?

Jack running is a "must have" to run superboucle. Can you try to launch patchage app after jack is started and look at system output. How many output do you have ?

[2017-09-22 09:55] tecan commented on #46
i have 5.1 surround sound usb box. https://imagebin.ca/v/3bFjOnnzboFW

[2017-10-24 19:42] Vampouille commented on #46
You have only one input channel and superboucle is trying to bind 2 channels for input.
You can disable auto connect feature with following config file :

 ~/.config/superboucle/session.conf
[code]
By adding this file, you should be able to successfully launch superboucle.

[2017-11-07 06:58] jageshmaharjan commented on #19
Did you install everything in doc/requirements.txt file.
Had the same issue, after i install packages in "requirements.txt", everything worked for me.

[2017-11-07 08:59] Vampouille commented on #19
There is no requirements.txt file but something here : https://github.com/Vampouille/superboucle#linux-1

Can you provide a simple requirements.txt ?

[2017-11-10 18:28] tecan opened #47 "gui icons not showing up"
i tried putting them around in different places /usr/share/icons/icons/ ~/.local/share/icons ./icons/icons nothing seemed to work.

[2017-11-13 07:00] Vampouille commented on #47
Icons should be kept in a subfolder "icons":
https://github.com/Vampouille/superboucle/blob/master/gui_ui.py#L48
How did you launch superboucle ? Maybe you don't start superboucle from root directory of this project ?

[2017-11-13 07:00] Vampouille commented on #46
@tecan is it working with previous tricks ?

[2017-11-15 07:07] #46 closed

[2018-02-25 20:47] dvzrv opened #48 "new release?"
Is there still something happening with superboucle?
I recently took over the pro-audio section for Arch Linux and would like to package this software in the future.

As this is all python3, do you plan on providing a setuptools based installation?

[2018-02-26 07:36] Vampouille commented on #48
I still plan to add support for clip with midi data, but, currently, I have no time to implement this feature :-(

good news, it can help to use pad like novation launchpad with linux.

Yes, I also plan to do it but I have never created such file. So your help is welcome, do you have some links or example that I can follow to provide a setuptools based installation?

[2018-05-11 16:58] mohammedyunus009 commented on #19
In my case i installed
`pip install pysoundfile`
but imported it as
`import soundfile`
it worked for me

[2018-06-27 23:34] milkmiruku commented on #45
I'm in a similar situation. I'm wondering how to reduce the song size though? I can't seem to find any menu option for that.

[2018-06-28 00:48] mxmilkb opened #49 "Editing a sample makes the sidebar sample UI font disappear"
I'm running on Arch Linux. After clicking Edit, the app looks like this;

![rose_2018-06-28-01 45 50](https://user-images.githubusercontent.com/108225/42007005-3e1d99cc-7a75-11e8-8a45-6a1e453553d7.png)

[2018-06-28 10:41] Vampouille commented on #45
You can change song size when creating a new one. You can create a new song by using the menu.

[2018-06-28 10:44] Vampouille commented on #49
Strange ! It use QT so it should be portable at least on several linux distro. What is your version of QT libs ?

Does superboucle looks good before clicking on Edit button ?

[2018-06-28 11:07] milkmiruku commented on #45
Aah, thanks, though it is indeed still too tall a window for my screen due to the sidebar;

![rose_2018-06-28-12 05 59](https://user-images.githubusercontent.com/108225/42030761-c7f0b9b2-7acb-11e8-9798-6b04ccbbe151.png)

[2018-06-28 11:38] Vampouille commented on #45
yes, this may explain why some labels are truncated. what is the size of your screen ? There still some work to make superboucle able to fit on some resolution.

[2018-06-28 11:40] milkmiruku commented on #49
QT 5.11. Aah, my theme is influencing this - I'm using "QT_QPA_PLATFORMTHEME=[gtk2](https://github.com/qt/qtstyleplugins/tree/master/src/plugins/styles/gtk2)" and [Squared-blue](https://github.com/bbidulock/xde-styles/tree/master/gtk/themes/Squared-blue/gtk-2.0) gtk2 theme.

I just cleared the QT_QPA_PLATFORMTHEME env var, and the side bar font works after clicking Edit.

I've not seen that one be

[2018-06-28 11:46] milkmiruku commented on #45
Here is how the app looks without the theme, slightly different spacing but still a fair bit of it;  ![rose_2018-06-28-12 42 17](https://user-images.githubusercontent.com/108225/42032204-b955945e-7ad0-11e8-98c4-26a982c2d3e0.png)

Resolution is 1366x768.

[2018-06-28 14:34] Vampouille commented on #45
It's better ! I think it need some work to handle QT Theme. As a workaround, you can move the windows upper by holding 'alt' key and drag and drop on the middle of the window. This way you should be able to access the lower part of the window.

[2018-07-05 16:48] Vampouille commented on #49
Some of the fields that disappear use "Lato" family and some don't use it. You also have bigger render of fonts. In your screenshot "Goto Position" is truncated but it should not :-(

[2018-07-05 16:50] #47 closed

[2018-07-05 16:55] Vampouille commented on #45
I create a PR #52 to reduce height of left side bar. Now it fits on 1366x768 screen. Still need some work to reduce the main window height and adapt window size based on song size.
@milkmiruku you can test #52 that should fit on your laptop.

[2018-07-05 16:56] Vampouille commented on #49
I think I'm gonna use images for button label.

[2018-07-05 17:02] #28 closed

[2018-07-05 20:09] milkmiruku commented on #45
Looks like this now; ![rose_2018-07-05-20 59 42](https://user-images.githubusercontent.com/108225/42345177-6fa5a3dc-8096-11e8-9687-0d0f706aae0a.png)

N.b. there's also the minimum size for the window that's not linked to the number of rows;

![rose_2018-07-05-21 01 03](https://user-images.githubusercontent.com/108225/42345272-b68e11f8-8096-11e8-9bd3-45392fe579a9.png)

[2018-07-05 20:13] milkmiruku commented on #49
Ah, I installed ttf-lato and it now looks somewhat better :)

![rose_2018-07-05-21 06 00](https://user-images.githubusercontent.com/108225/42345468-5493c42e-8097-11e8-9a57-0a7ee9d2ff47.png)

[2018-07-06 16:12] Vampouille commented on #45
yes, I need to work on this.

[2018-08-09 17:39] enorrmann opened #53 "IndexError: tuple index out of range"
loading a mono ogg sample

(python3:27115): Gtk-WARNING **: 14:36:05.107: Failed to measure available space: La ubicación especificada no está soportada
From cffi callback <function Client.set_process_callback.<locals>.callback_wrapper at 0x7fe6a92ce158>:
Traceback (most recent call last):
  File "/home/enorrmann/git/superboucle/jack.py", line 878, in callback_wrapper
    return callback(frames)

[2018-09-16 19:17] sonejostudios opened #54 "Save Bug"
Hey Julien!
long time no talk ;)
I'm still using superboucle and I'm really happy with it. Now I am upgrading my system and a really strange bug came out. I' using EXACTLY the same Superboucle version on two different systems, but I get a different behaviour with the SaveTo method.

- On Ubuntu 12.04, I can save a song correctly, Superboucle saves a zip file with a "metadata.ini" and wavs inside t

[2018-09-16 22:57] sonejostudios commented on #54
Here the Python error:

/usr/bin/python3.4 /media/sda7/Programming/GIT/superboucle/boucle.py
Traceback (most recent call last):
  File "/media/sda7/Programming/GIT/superboucle/gui.py", line 481, in onActionSaveAs
    self.song.save()
  File "/media/sda7/Programming/GIT/superboucle/clip.py", line 250, in save
    self.saveTo(self.file_name)
  File "/media/sda7/Programming/GIT/superboucle/clip.py",

[2018-09-17 11:21] Vampouille commented on #54
The soundfile library change a little bit : https://github.com/bastibe/SoundFile/pull/133
I had to change superboucle code like this : https://github.com/Vampouille/superboucle/commit/74e95abf34092f3b37b4bce3d49c99222d2e1899 for loading song with mono file. Maybe we also need to update save code. I will check this on my side.

[2018-09-20 17:50] sonejostudios commented on #54
Hey Vampuille,
look what I found on the official Soundfile doc:
The argument order of write changed!

[2018-09-20 19:33] sonejostudios commented on #54
Hey Vampouille,

I just changed the order of the arguments of the write method on my local machine and it works now perfectly ;)

[2018-09-21 07:28] Vampouille commented on #54
Can you add a link to the part of code you modify ?

[2018-09-21 18:55] sonejostudios commented on #54
Here (in clip.py):

https://github.com/sonejostudios/superboucle/commit/a743a778c04cf76d1f64c52b2afb65184b0eac29 #

[2018-09-23 22:10] Zer0- opened #55 "License?"
I cannot find the license for this software. The website just mentions that it's "open source".

I am trying to package superboucle;  no explicit license may be a problem with it getting accepted into the repository. There are other (better) reasons to include a license.

[2018-09-24 08:05] Vampouille commented on #55
@Zer0- this PR adds a license https://github.com/Vampouille/superboucle/pull/56

[2018-10-19 15:51] Vampouille commented on #55
I just merge the previous PR. So code is now under GPL v3.

[2018-10-19 15:51] #55 closed

[2018-10-22 02:09] Zer0- commented on #53
I got the same error loading a mono wav

I applied the following diff:

[code]

Only to get another error:

[code]

I'm trying commit [2955794962f4aaa6b560f05147df618a52e0d0e2](https://github.com/Vampouille/superboucle/commit/2955794962f4aaa6b560f05147df618a52e0d0e2) so I have the line with `always_2d=True` in my code, I checked.

##### File used (gzipped for github support, please unzip):
[india_

[2019-09-02 13:28] luzpaz commented on #48
any progress on this ?

[2019-09-02 18:37] Vampouille commented on #48
There is some progress ! I'm currently working on the packaging. SuperBoucle is now mentioned in debian database :-)

see the last suggested package https://packages.debian.org/buster/multimedia-looping

I created a branch https://github.com/Vampouille/superboucle/tree/add_setup_py which contains a work in progress version of setup.py. I also have files to create a debian package `/debian/*`(not c

[2019-09-02 20:58] luzpaz commented on #48
Nice!
@dvzrv are you still involved in the Arch pro-audio ?
This would be great

[2019-09-19 22:14] Vampouille commented on #48
This PR #57 include debian packaging files and a valid setup.py. Any comments are welcome on the packaging.

[2019-09-20 06:32] dvzrv commented on #48
@Vampouille excellent. The debian stuff is not at all useful to me, but I'm looking forward to creating a package with the help of setuptools from this!
Please make sure to tag a new version after merging! :)

[2019-09-20 07:04] trebmuh commented on #48
@Vampouille nice, the debian packaging rule will definitely be useful on here. Will suggest/PR some improvements on it (already started actually).

[2019-09-23 14:31] slyholborn opened #60 "Running on fedora 30"
Hello! i can't make it run en F30 : the stable one is impossible to route in jack and i've got errors wth the git one...

`./SuperBoucle.sh
python3: can't open file 'boucle.py': [Errno 2] No such file or directory
`
All deps seems fine? Do i mistake somewhere.?
Thanks!

[2019-09-24 12:34] Vampouille commented on #60
I'm currently working on packaging, so there is some changes. I think that you're using the master branch with #57 merged, you can use pip to install superboucle :

[code]
https://github.com/Vampouille/superboucle/blob/master/Dockerfile#L8-L10

Then you will have a script at `/usr/local/bin/superboucle` to run superboucle.
I will update the readme to include instructions for RPM based distro.

[2019-09-26 22:49] Vampouille commented on #45
This PR #58 resize the cell to reduce height of the window, it also remove the status bar. It should also fix the resize of the window.
It does not include #52, I need to take changes on the left side bar.

[2019-09-26 22:56] #30 closed

[2019-09-26 22:57] Vampouille commented on #11
New version of ardour send bbt info to jack

[2019-10-03 15:05] damdam-s commented on #60
@slyholborn you can run the `boucle.py` which is in `superboucle` folder at the same level as `SuperBoucle.sh`

[2019-10-06 08:15] #16 closed

[2019-10-07 13:07] slyholborn commented on #60
Hello @Vampouille installation works but it won't launch superboucle :
`Traceback (most recent call last):
  File "/usr/bin/superboucle", line 11, in <module>
    load_entry_point('superboucle==1.2.0', 'console_scripts', 'superboucle')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 489, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)

[2019-10-07 16:03] Vampouille commented on #60
It seems that you try to run superboucle with python version 2, you need python3 to run superboucle. The `configparser` is a standard module of python3:

[code]

[2019-10-07 18:36] slyholborn commented on #60
ok! did it by changing the the python version default with
`# alternatives --install /usr/bin/python python /usr/bin/python3.7 2
# alternatives --install /usr/bin/python python /usr/bin/python2.7 1
`
I get the interface and all sems to work but it disconnects himself from jack as soon as i launch a boucle. Reconnection is the impossible.... an error with wayland?
`Warning: Ignoring XDG_SESSION_TYP

[2019-10-08 06:48] Vampouille commented on #60
Interesting to test it on wayland !

Cool ! happy to see that you have at least the beautiful interface of superboucle ;-) one step forward ! I think the `setup.py` miss something about the version of python interpreter. After installation superboucle script **should** choose python3, I will try to fix this.
 I notice the message : "(No space left on device)" in your stack trace. Can you retry wit

[2019-10-08 07:09] Vampouille commented on #60
@slyholborn How do you launch superboucle ? Can you paste this script : `/usr/bin/superboucle` it should looks like:
[code]
The first line select a v3 python interpreter, Do you have the same line ?

[2019-10-08 17:38] slyholborn commented on #60
@Vampouille there is lot of space on this HDD : 61,2 Go

My /usr/local/bin/superboucle after install is :

[code]

[2019-10-08 19:12] Vampouille commented on #60
Ok so it might related to wayland, did you try to set `QT_QPA_PLATFORM=wayland` as mentioned in the error message:
[code]

I will do some test with wayland.

[2019-10-08 19:18] slyholborn commented on #60
I don't know how to do this... But i can try my sessions without wayland...

[2019-10-08 19:23] Vampouille commented on #60
You need to install an additional package, on debian it's called `qtwayland5`

[2019-10-08 19:31] Vampouille commented on #60
Just open a terminal and add `QT_QPA_PLATFORM=wayland` before the `superboucle` command to set an environment variable just for the command. So in a terminal you type:
[code]
I don't known if this variable is mandatory for your setup, but I think the `qtwayland5`package is required.

[2019-10-09 20:26] slyholborn commented on #60
It behaves the same, but the message is now
[code]

[2019-10-09 20:28] slyholborn commented on #60
I also have issues with the left menu : windows with bpm etc are not well positionned .

[2019-10-22 20:06] trebmuh opened #62 "Fail to launch"
Salut Vampouille.

J'ai enfin trouvé du temps pour tenter un empaquetage de SuperBoucle pour la future LibraZiK-3.
Le paquet semble se construire correctement, mais superboucle ne se lance pas et me met un:
[code]

Une idée ?

_Édition : précision, c'est sur une base Debian Buster, et pyqt5 est en version 5.11.3+dfsg-1+b3_

[2019-10-24 20:20] Vampouille commented on #62
Tu dois retirer PyQt5 des dépendances dans le fichier `setup.py`. PyQt5 n'est pas "visible" comme package python installé mais on peut le charger. C'est une particularité du packaging de PyQt5. Y'a un patch ici :
I think you need to remove PyQt5 from setup.py. see the following patch for building deb package :
https://github.com/Vampouille/superboucle/blob/master/setup.py.debian.patch
Used here :

[2019-10-24 20:27] Vampouille commented on #37
or an undo function with a non-destructive edition ?

[2019-10-24 23:11] trebmuh commented on #62
Super, ça fonctionne maintenant !
Merci.

[2019-10-24 23:11] #62 closed

[2019-11-02 14:33] manucontrovento opened #64 "SuperBoucle losing jack connections"
Hi everyone! I'm new to SuperBoucle and I'd like it to become my best friend on stage.. I switched to Linux for my audio production for almost every step, except for live-looping... I tried Bitwig but it doesn't recognize my akai apc key 25; I like LuPPP but important features are missing..  I like SuperBoucle and I hope it will replace Ableton Live, and to definitively uninstall Windows from my p

[2019-11-02 14:42] manucontrovento opened #65 "Can't see "scenes" management / error starting latest version"
Hello everyone, as I just told in my previous post, I'm quite new to SuperBoucle.

I can see the "Playlist" feature but not the "scenes" management, maybe it's a feature that is not in version 1.2.0 ?
I also downloaded latest master version but an error prevents from starting:

Have a nice day all,
Manu

[2019-11-05 06:57] Vampouille commented on #64
Hello @manucontrovento, thanks for this report. It is weird because superboucle only manage connections at startup: it connects superboucle main output to the system output (first 2 channels). * Do you see some xruns when connections disappear ?
* Are you able to reproduce this bug ?
* What is your latency ?
* Can you increase the buffer/lantency of the jack server and retry ?

[2019-11-05 07:31] Vampouille commented on #65
You should set the `PYTHONPATH` env var:
[code]

The scene manager was not implemented in 1.2.0 so if you use master you will have this feature:
![Capture d’écran du 2019-11-05 08-26-49](https://user-images.githubusercontent.com/7067560/68187124-1d230880-ffa6-11e9-90b8-77e7f899f051.png)

[2019-11-06 20:53] manucontrovento commented on #65
Hi @Vampouille thanks for your replies and excuse me for late answers.
I finally reached to start SuperBoucle master branch, I don't know if my solution is the best or if it could cause a bad management of something somewhere.... I'm quite a newbie in Linux world

I added the line you suggested in SuperBoucle.sh starting file:

[code]

is it right? However, it seems to work! unfortunately, somethi

[2019-11-06 21:12] manucontrovento commented on #64
Hello @Vampouille  I just tested (and reproduced) the issue.

- I start Jack at usually 512 samples (but then I tried with 256, 1024 and 2048)
- I start a2jmidid
- I start SuperBoucle (and outputs and inputs automatically connect to system)
- I connect AKAI midi keyboard in JACK connections
- I load a song (connections are still there and pads correctly light on, according to the song)
- I press P

[2019-11-06 21:30] Vampouille commented on #65
It's good you're modification only affect superboucle. A more pythonic approach would be to create a virtual env and install superboucle in this virtual env. But if it works for you this way it's fine. You will have issue only if you install other python that needs the same library but with another version.

[2019-11-06 21:30] #65 closed

[2019-11-06 21:43] Vampouille commented on #64
Ok it's very strange, thanks for this detailed report. It's always nice to see superboucle light up an AKAI in Italy :-)
I will try to reproduce this.
The only workaround or test I can find is to create a new port in the "port manager" then change the "output" of each clip to the new port. On jack connect the new port to output, then start the song. It can be interesting to see if the new connecti

[2019-11-06 23:47] manucontrovento commented on #64
Hi, I just tried, unfortunately the problem is the same, when pressing Play, the connections between the new port and the output vanish... I can tell you 2 things:
- I'm quite sure that at first, when I started trying SuperBoucle, this problem was not happening. Now it's happening all the times, so I can't get SB to work anymore. It's like something somewhere is corrupted, maybe something saved in

[2019-11-07 10:35] manucontrovento opened #66 "a minor issue: <Quit> menu command not working"
Hi,
this is obviously not important, it's just to take a note about it: from the window menu, Quit command doesn't work, I alway close SB from the upper right "X" window control.

[OT]: where could I post my contributions? I'd like to send you my AKAI APC 25 controller script, and other things I could produce (e.g. an Italian translation of the manual, and maybe of the user interfaces)

have a nic

[2019-11-07 11:43] Vampouille commented on #66
You can create a pull request with your modifications if known how to do it. Alternatively, you can just post files (translated readme, akai controller config) here I will create the pull for you.

[2019-11-07 11:44] Vampouille commented on #66
I will check this issue

[2019-11-07 14:12] manucontrovento commented on #66
Ok... sorry about it, I didn't understand how to make a pull request.. but if you tell me, I can make it.

[2019-11-07 14:59] Vampouille commented on #66
* Fork the superboucle repo on github : you have a fork button
* Clone the new repo on your workstation : `git clone https://github.com/manucontrovento/superboucle.git`
* Add files locally,
* create a branch `git checkout -b add_files`
* add files to git `git add <files you just added>`,
* `git commit`
* push your modification to github `git push origin add_files`
* The previous should give you a

[2019-11-07 16:02] trebmuh opened #67 "[FR] internationalisation"
It'd be great to have the possibility to translate the GUI into diverse languages.

[2019-11-07 16:07] trebmuh commented on #45
Hi, I'm on a similar situation. the height of SB window is too much for my screen. I can use the `Alt` workaround but it'd be great if SB would be able to fit with any screen.

[2019-11-08 12:53] manucontrovento commented on #67
Yeah! And I could provide the Italian translation

[2019-11-08 12:57] manucontrovento commented on #64
Maybe you could add a log file, tracing a bunch of steps, then I could launch the logged version to understand where the connections get lost.

[2019-11-19 07:50] manucontrovento commented on #64
Hi everyone! Any news about this issue? At now I'm facing a big change: I'm moving to another house, so I'll continue my tests as soon as possible; is it possible to have a kind of log file to understand what's happening with connections?
Have a nice day everyone

[2019-12-02 13:01] manucontrovento commented on #64
Hi everyone,

to solve at his root the problem, I installed a new version of Ubuntu Studio, starting from scratch (i.e. Ubuntu Studio 19.10) to avoid problems due to a "dirty" packages installing situation

Now I get this problem, loading  a previous session... and I can't understand what's happening :(

![immagine](https://user-images.githubusercontent.com/56541575/69961047-34a0d300-150b-11ea-8e2

[2019-12-02 14:42] Vampouille commented on #64
Sorry for the delay in response. For your connections issue, I added some debug log in a local branch (not pushed), to track connections and disconnections. I will send you the now code as soon as possible.
For your last issue, I think it's related to a change in audio lib and https://github.com/Vampouille/superboucle/issues/54.

[2019-12-02 14:47] manucontrovento commented on #64
@Vampouille thanks, I can't wait to get the new code for logging and also solve last problem.
When you're ready, I'll continue the tests.
I was making a short video tutorial in italian too, to show live looping with SuperBoucle.
As soon as I'll get it working, I'll start enjoying linux live stage music!

[2019-12-02 14:57] Vampouille commented on #64
@manucontrovento There is a "debug" branch that you can test. Additionnaly, this branch include a modification on the jack lib used. In debug branch it use jack lib from system so an additional python dependency is required : JACK-Client>=0.4.5
You can install it with a pip3 install -r requirements.txt

https://github.com/Vampouille/superboucle/tree/debug

[2019-12-02 22:17] Vampouille commented on #64
@manucontrovento After a careful read of your error message, your song file (*.sbs) seems to be corrupted. The sbs file is a ZIP archive with one `metadata.ini` file and wav files. The `metadata.ini` file refer a file called `DD_KikSnrA130-04.wav` but this file is not part of the ZIP file. Can you decompress the sbs file (right click in a file browser, "extract here") and check if you there is a f

[2019-12-02 23:27] manucontrovento commented on #64
Hi @Vampouille , I read all and I downloaded the Debug branch
All the listed requirements were satisfied.
Concerning my .sbs song file, actually in the zip archive only the "metadata.ini" file is compressed: all the others .wav files are outside the archive.
I deleted the sbs file, got again from scratch all the .wav files, loaded them into a new SB session, so I created a new .sbs file, but the r

[2019-12-03 07:28] Vampouille commented on #64
The issue is the missing wav files in the archive. As a workaround, you can add wav files into the archive so superboucle can find them. I find a way to run superboucle on a ubuntu 19.10. I will try to find why this happens. @manucontrovento Do you record with superboucle or import existing wav files ?

[2019-12-03 07:47] manucontrovento commented on #64
Hi @Vampouille
I usually import existing wav files, I haven't tried recording yet.
Tonight I'll try adding the files to the archive.
So, you just need to tell me how to activate or where to find the log concerning the disconnecting of the midi connections...
have a nice day

[2019-12-03 08:31] manucontrovento commented on #64
To try SB on Ubuntu Studio 19.10 without any revolution, you could simply start the Live version of the system, since the same ISO image which can be downloaded for install, can be used for live trying too

[2019-12-03 10:55] Vampouille commented on #64
To see logs, you need to run SB in a terminal: open a Terminal and run the `superboucle --debug` command, logs will appears in the console. Sorry I forgot the `--debug` option.

[2019-12-04 20:14] Vampouille commented on #64
I read carefully the code but Ican't find where a wav file can be forgot. Can explain steps to reproduce this bug ?

[2019-12-04 20:26] Vampouille commented on #66
Fix with https://github.com/Vampouille/superboucle/commit/029952b5298e7204d93f6c7386437ed964e2ed63

[2019-12-04 20:26] #66 closed

[2019-12-04 21:41] manucontrovento commented on #64
Hi @Vampouille , I think we are about to close this thread and maybe to open a new one, concerning saving/loading songs in Ubuntu 19.10... I will explain:
**now the problem of losing jack/midi connections isn't happening anymore, finally**. I don't know what could have changed at some point on my previous Ubuntu system. Now, after installing 19.10, audio / midi finally seem to work!
I have to say

[2019-12-04 21:59] manucontrovento opened #68 "[minor suggestion] Enter clip details, when triggered"
Hello, it could be useful maybe, when a clip is triggered, to automatically "select" it and see its details on the left bottom panel, so that if it sounds too weak or too loud, I can see what its volume level is, and adjust it (with its proper knob e.g.)

[2019-12-04 22:13] manucontrovento commented on #64
Hi again , I also tried the --debug version, just to give it a try. But I haven't any additional info about saving/loading clips in a song.
One thing I noticed: sometimes, when loading a song, the pads on the controller are not automatically lighted on anymore. In other words, there are no red-idle clips marked on the controller.
Then , when triggering, the pads gets correctly lighted.

[2019-12-04 23:38] manucontrovento commented on #64
Sorry... making some other tests, I still got the disconnection problem... tomorrow I'll try with debug version. And I'll let you know.

[2019-12-05 08:04] Vampouille commented on #68
Sometimes, many clips are triggered at the same time, how to handle this ?

[2019-12-05 13:08] manucontrovento commented on #68
mybe , in this case (e.g. triggering a scene) nothing should change. Maybe entering the clip detail makes sense only triggering the single clip. Just to see its proper volume level change - so it's alreday focused.

[2019-12-05 23:32] manucontrovento commented on #64
Hi @Vampouille , here I am.

Unfortunately I didn't reach to reproduce the connections issue, while the saving issue still occurs. Tonight I used the debug version and this are the results:

- I still manually added the wav files to the song zip sbs file, to open a song

**1) first case: No midi controller connected, no a2jmidid started.**

this is the text in terminal. there is 1 error, but the s

[2019-12-06 06:25] manucontrovento commented on #64
By The Way, Don't you have link to make a donation ? I always make a donation on free software I use :)

[2019-12-08 16:08] manucontrovento opened #69 "Start playing a clip after recorded"
Hi,
I'm starting doing my tests to recording too.
Step by step I'm getting ready to get on stage.
I think it could be very useful that a clip would start playing immediately after recorded. Or, at least, introducing a flag which defines this behaviour (possibly True by default)
In fact, if you are playing some notes on the bass, when recorded, it could be nice that the bass line automatically cont

[2019-12-08 16:12] manucontrovento opened #70 "Cleaning MIDI device pads when entering/quitting SB"
Hi,

it could be nice if SB automatically would "clean" the pads of MIDI controller, just like when you delete a clip. I know that on MIDI learning there's an option to send some MIDI reset commands, but if I don't know the reset sequence on my controller, and I can't find anywhere on internet, when quitting SB, the pads stay lighted-on on controller and I have to disconnect it to reset it.

Cheer

[2019-12-09 21:24] Vampouille commented on #64
Really happy to see this ! :-)

Some random issue you have like "pad don't light up" may be related to xrun. xrun occurs when jack does not have enough time to process to current sound buffer. So at least one application does not have enough time to generate the audio corresponding to the current timeframe. This also includes MIDI messages send and received.
@manucontrovento What is your current l

[2019-12-09 21:32] Vampouille commented on #69
Agree, this is the behaviour of some loop pedal.

[2019-12-09 21:55] Vampouille commented on #70
I cannot find a reset MIDI message for your device, anyway, SB can light-off all cells that are managed.

[2019-12-10 16:32] manucontrovento commented on #64
Hi @Vampouille

yes, increasing the buffer I don't get Xruns anymore.
Setting to 2048 never had xruns, and the output is like this (it seems that an error occurred):

Setting buffer to 1024, sometimes an Xrun occurs, but the pads are lighted up correctly anyway.

The reason I set buffer to 512 was to reduce latency, so that if I play live and record my instruments to SB, I feel no latency (about 1

[2019-12-10 16:35] manucontrovento commented on #70
maybe you could just insert in SB menu a shortcut to the same command which you already use in MIDI Learning, to reset all the pads. So that when pads don't reset, it's always possible in any moment to call the command. There also could be a flag somewhere to automatically send the command when entering / leaving SB

[2019-12-10 20:09] Vampouille commented on #64
i known we need very low latency for live ! SB is written in python and python is not really suitable for a realtime process. One way to improve this is to rewrite the callback in pure C language but it's a lot of work. Anyway, SB seems to work well with "low" lantency but maybe not as low as you want with the current implementation.

Thanks I will test it on my side, and listen some clip ;-)

[2019-12-10 20:45] #54 closed

[2019-12-10 20:48] Vampouille commented on #64
@manucontrovento Nice music to make test ;-) I fix the saving for both song and export clip function with https://github.com/Vampouille/superboucle/commit/03d19f9fe06223ce3393673b41ab7aa8e64a1e06. So you can pull last modifications of the master branch and be able to save a song with waves.

[2019-12-10 22:51] manucontrovento commented on #64
hi @Vampouille  thanks a lot.
Music for test is nice yes, I did some percussive loops and then I used some ready melodic loops. But my goal is to play just music all made by me.

I'll test the master branch as soon as possible.

One question: When increasing the buffer, is it possible that some latency occurs in MIDI notes too?
This afternoon I made some test and I felt like some notes played a bi

[2019-12-11 07:32] Vampouille commented on #64
yes the latency is apply to audio and midi

Try to find the best value with a good balance between xruns and latency...

Thanks, I think I will work on:
* Cleaning pad light #70
* Handling timebase master/client, interaction with other apps like Qtractor and Ardour

@manucontrovento Can we close this thread ?

[2019-12-11 08:34] manucontrovento commented on #64
solved with 10/12/2019 update in master branch

[2019-12-11 21:52] #53 closed

[2019-12-11 22:11] Vampouille commented on #60
This issue is now fixed on master. Can you update your local clone and retry ?

[2019-12-11 22:17] Vampouille commented on #48
TODO:
* use jack lib from system
* fix timebase master/slave issue

[2019-12-12 16:06] manucontrovento commented on #70
Sorry, I'll explain better: I mean, using the same feature that you use in midi learning, setting the colors, so set all the buttons like not-assigned (and so, light-off)

[2019-12-14 12:27] manucontrovento opened #76 "About managing colors for some other pads too"
Hi everyone!

I think it would be useful to light up some other buttons, not only start/stop and line clips.
This is useful especially in live performances.

So, scenes triggering buttons could be turned on in green when a scene is triggered (as it happens for line selections), and transport functions could turn on when triggered: so the Play, Rewind and Goto button could light on in green when tr

[2019-12-14 12:35] manucontrovento opened #77 "Updating the Scene manager window"
Hi everyone!
It would be nice if in the Scene Manager too, the status of the scenes would update according to what is triggered from a midi device.
So, when I trigger scene n° 5, in the Scene manager too the selection could move on Scene 5.
Maybe this is not that important, since if you are managing the session from the controller you are not using the scene manager, in most cases, and if there wi

[2019-12-14 17:40] manucontrovento opened #78 "Losing midi control in some way, except clips start/stop"
HI everyone, in latest days testing several sessions, I found this further problem: sometimes the only buttons working in midi controller are the clips start/stop buttons. Transport buttons, line buttons etc. don't work no more, while from the trasport buttons on screen all is working.
The only way to get the buttons working again is to re-do the midi learning, creating a new controller. Also load

[2019-12-14 17:53] manucontrovento opened #79 "SuperBoucle and Gladish"
Hi everyone!
I was trying to configure a Studio in Gladish, to keep all connections saved ad applications connected, not to make the connections every time I use SB.
Has anyone some experience about that?

When I try to run the Application (SB) in the Gladish studio, an error occurs and SB won't start.

When a Studio is running:

- Application -> New Application, which opens the new application di

[2019-12-14 18:52] trebmuh commented on #79
try with "sh /home/.../SuperBoucle/./SuperBoucle.sh"

[2019-12-15 14:31] manucontrovento commented on #79
I tried, thanks, but same result...

[2019-12-16 13:31] slyholborn commented on #60
Ok! I'll try it right now!

[2019-12-17 22:15] Vampouille commented on #79
@manucontrovento You can add a `read` instruction at the end of the `SuperBoucle.sh` script so you can view error messages.
I think it's an issue regarding the working dir, the directory where the script runs.
Can you test with the following `Superboucle.sh`:
[code]

[2019-12-17 22:26] Vampouille commented on #78
@manucontrovento Did you try to turn off and on your midi controller ? I will check the learning code to see if there is some reset message sent.

[2019-12-18 06:43] manucontrovento commented on #79
Ok, now with this .sh the application starts. I see some errors, output is like this:

[2019-12-18 06:46] manucontrovento commented on #78
@Vampouille I tried, but nothing changes

[2019-12-20 07:55] manucontrovento opened #80 "One-shot clip or number of cycles"
Hello everyone and have a good holiday time

It would be very useful to have the chance to define the number of cycles of a clip. At now, the loop plays until stopped. It would be nice a "cycles" parameter on the clip, where 0 means infinite (so that this new feature wouldn't change anything on the already existing songs).
So, if I need a one-shot clip (e.g. to close a song, playing last bar) I se

[2019-12-20 08:03] manucontrovento opened #81 "UI strange behaviour and font scaling"
Hi everyone,

in master branch release, I can't see anymore the icons on trasport buttons (I think in 1.2.0 release, the images were displayed)

and when entering the clip details (edit) fonts seem to be out of size; this may be a consequence maybe of a font scaling set in operative system. It could be a nice idea , in some way, preventing the fonts to be scaled, in the edit window (maybe it's use

[2019-12-20 08:19] slyholborn commented on #60
It installs, connects to jack, but still this window issue and... i have no sound although all seems good... still trying!

[2019-12-20 08:22] slyholborn commented on #60
`qt.qpa.wayland: Non-toplevel surfaces can't request window states`

[2019-12-20 08:42] slyholborn commented on #60
On arrete tout!! j'ai du son!!! Sorry, I've got sound : i just made mistake with my sound cards routings...  everything works well except issues withe the left menu.

[2019-12-20 11:07] trebmuh commented on #81
If that can helps to target the issue, superboucle from GIT master 0a76441, build on Debian Buster, I can see transport buttons.

[2020-01-08 11:36] manucontrovento opened #82 "Keyboard Shortcuts to load next/previous scene and song"
Hi everyone, this is a minor suggestion.
It would be nice to have some shortcuts to quickly select next or previous scene/song from the list.

e.g.
F5 select and load previous scene from scene manager
F6 select and load next scene from scene manager
F7 select and load previous song from playlist editor
F8 select and load next song from playlist editor

updating the current element in the list too

[2020-01-28 09:50] manucontrovento commented on #78
Hello, yesterday I noticed a similar kind of issue, but at reverse: only clips buttons were detected and working, while transport buttons were not working anymore

[2020-01-28 10:02] Vampouille commented on #78
@manucontrovento I think I found a bug is the process that map midi event to action. I will try to push the fix as soon as possible.

[2020-02-02 09:15] Vampouille commented on #82
Can you explain ? Do you mean updating the scene manager window according to the current scene .

[2020-02-02 09:17] Vampouille commented on #78
@manucontrovento I push a new commit in the `debug` branch : https://github.com/Vampouille/superboucle/commit/56ac7786e6402c80ad78d8eaae566c617a698873

Can you re-test device mapping with this commit it should fix most of the bug in device mapping ?

[2020-02-02 13:16] manucontrovento commented on #78
@Vampouille  Sure! I think I'll test it tonight.

[2020-02-02 13:17] manucontrovento commented on #82
Yes!

[2020-02-03 19:14] manucontrovento commented on #78
@Vampouille yeah man! using debug version, seems to be working!

[2020-02-04 09:13] manucontrovento commented on #78
I did some tests, imho you could load this fix in master branch. Or maybe you prefer to wait and update master branch when you'll have a bunch of some other fixes/features ?

[2020-02-04 09:24] Vampouille commented on #78
yes

[2020-02-04 14:50] manucontrovento commented on #81
@trebmuh I tried, dowloading application again, but nothing changes.. I still believe it could depend on some o.s. issue; it would be nice preventing the fonts and scaling to change, despite of o.s. font settings

[2020-03-02 11:15] manucontrovento commented on #78
Hi @manucontrovento ! Should I close the issue? Or should I wait the fix in master branch?
have a nice day

[2020-04-04 23:51] manucontrovento commented on #82
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:51] #82 closed

[2020-04-04 23:52] manucontrovento commented on #81
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:52] #81 closed

[2020-04-04 23:52] manucontrovento commented on #80
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:52] #80 closed

[2020-04-04 23:53] manucontrovento commented on #79
Solved using a shell script to load all applications + Carla to maintain connections

[2020-04-04 23:53] #79 closed

[2020-04-04 23:53] manucontrovento commented on #77
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:53] #77 closed

[2020-04-04 23:54] manucontrovento commented on #76
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:54] #76 closed

[2020-04-04 23:54] manucontrovento commented on #69
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:54] #69 closed

[2020-04-04 23:54] manucontrovento commented on #70
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:54] #70 closed

[2020-04-04 23:54] manucontrovento commented on #68
I'm working on it on my own, so I can close this thread.

[2020-04-04 23:54] #68 closed

[2020-04-05 09:38] dvzrv commented on #48
@Vampouille is there anything blocking a new release?

[2020-04-07 14:00] manucontrovento commented on #48
Hi everyone. I uploaded my version, just released, in my repository
I added a bunch of features and fixes.
For the moment, I think I'll proceed eventually with other releases in my repository. I don't know if @Vampouille wants to try it and merge them in master branch? I'd still keep the two branches separated, especially since it's my first python coding experience and it is possible that some co

[2020-04-11 06:19] manucontrovento commented on #48
HI @Vampouille
on suggestion from community, I changed the application name of my fork, since at the moment I think I could only manage a separate development. I hope you won't be upset about this. But I always give credit to your work and to the original application. If in future you'll have the time and you'll want to merge the code we'll work on it
have a nice day!

[2020-04-12 09:21] Vampouille commented on #48
Hi @manucontrovento, If plan to maintain a fork for long term it make sense to change the name.
Can you list the modifications in your fork, I think we can merge some modifications. Based on issues you open, you have good ideas ;-) Unfortunatly, I don't have enough time to develop new features, but if you're merge requests is "mergeable", I will find some times to review and merge your work.

[2020-04-12 09:21] Vampouille commented on #48
yes I want

[2020-04-12 09:27] Vampouille commented on #48
I created #83 to keep tracks of modifications made with @manucontrovento.

[2020-04-12 09:29] Vampouille commented on #78
needs #83

[2020-04-12 09:31] Vampouille commented on #60
Can you create a separate issue for issue about left menu with a screenshot ?

[2020-04-12 13:29] manucontrovento commented on #48
HI @Vampouille  first of all glad to see you again around!
I'm thinking about what's the better solution. My idea was, at this point, to maintain a separate fork. At first I uploaded my version into my fork, keeping the same name. Then on forums they told me that since my developing was going on a separate way I should have changed the name. That's why I did it. I'm sorry not having waited for you

[2020-04-13 07:06] manucontrovento commented on #48
ok @Vampouille , I thought about it and I decided to rename again all namespaces, switching to original .../superboucle/*.py , so you could download my master branch and merge whatever you want more easily, I'm about to release new version so I'll do this further change and then I'll upload new version

And file name extensions will remain your SB extensions as well.

In a few time I'll be ready

[2020-04-13 11:00] manucontrovento commented on #48
Hi @Vampouille
you'll have a lot of things to read :)
So, new release is ready and online:

https://github.com/manucontrovento/SpinTool/releases/tag/v20.04.13

For a while I'll keep this running. I have another to-do list but next weeks I'll have to do other things too.  Here's new changelist:

## Features

* New copy/paste clip details function
* Added About window (in Info menu)
* Added menu act

[2020-04-13 21:44] Vampouille commented on #48
@manucontrovento I'm really impressed by the amount of features you add to superboucle :-) Be able to improve opensource software without restrictions is very important. I'm also very happy to see that you keep original filename in code because I want to maintain this project for long term even if I have not enough time now to properly maintain this project. I will find some time to read carefully

[2020-04-14 13:33] manucontrovento commented on #48
@Vampouille thanks for your appreciation, I have a further list of potential features, and other suggestions are coming in my Issues section already.
About original SB, you could start introducing the new changes that you like most, and case by case I could show you where in the code I changed those things

[2020-04-14 21:30] manucontrovento commented on #37
about this, I think I'll add a lock command in the clip details

[2020-04-17 06:32] manucontrovento commented on #64
Hi @Vampouille
I need to know a little bit more about SB and latency, because I'd like to reduce the buffer size (and latency)
Could you explain me something about the problem, and why xruns affect SB signals exchange with controller and (most of all) break connections?
Some possible workarounds, working with a smaller buffer size (e.g.512 ): maybe it's possible to insert some small time.sleep() s

[2020-04-17 11:51] manucontrovento commented on #37
Done!

![immagine](https://user-images.githubusercontent.com/56541575/79566224-8446fc00-80b2-11ea-948f-a6bf5f77b9ea.png)

it will be in next release (planned for tonight or tomorrow)

[2020-04-18 09:59] sonejostudios commented on #37
great!

[2020-04-19 10:22] manucontrovento commented on #64
@Vampouille  hi,
about this topic, in application readme.md, you wrote about a "latency compensation" feature.-.
could you briefly explain how it works?

[2020-09-01 15:29] manucontrovento commented on #48
Hi everyone. I don't mean to steal focus from SuperBoucle, I just want to tell everybody that meanwhile, together with @sonejostudios  we implemented a huge amount of features in SpinTool, including a "live" mixer with MIDI binding; a completely new management for MIDI devices with also sends, resets of controls, etc; new use cases for the clips ("metronome" clips, always-playing clips, functions

[2020-09-01 16:25] trebmuh commented on #48
Well, it looks like so. Unless Vampouille agrees.

[2020-09-01 16:25] trebmuh commented on #48
Well, it looks like so. Unless @Vampouille agrees.

[2020-09-01 16:27] trebmuh commented on #48
Well, it could looks like so. (_Unless @Vampouille agrees, obviously._)

[2020-09-01 18:47] sonejostudios commented on #48
Here is the link: https://github.com/manucontrovento/SpinTool

[2020-09-05 04:36] manucontrovento commented on #48
Hi @trebmuh , I just wrote the news here since Vampouille asked to be up-to-date about ST's releases, since he's interested in merging some features. If not, I can remove the post obviously.
Have a nice day everyone!

[2020-11-01 21:56] grammoboy2 opened #84 "NSM support"
https://non.tuxfamily.org/wiki/Non%20Session%20Manager
http://non.tuxfamily.org/nsm/API.html

[2020-11-01 21:58] grammoboy2 opened #85 "Ableton Link support"
https://github.com/Ableton/link
https://github.com/rncbc/jack_link
https://github.com/falkTX/Hylia/blob/master/hylia.h
https://media.ccc.de/v/lac2018-42-ableton_link_a_technology_to_synchronize_music_software

[2020-12-11 17:44] grammoboy2 commented on #85
Using jack_link seems to work
https://linuxmusicians.com/viewtopic.php?f=19&t=22430

[2020-12-21 10:40] slyholborn commented on #60
Sure!

[2022-10-28 21:30] dvzrv commented on #48
As there is no movement, I'll close this to get rid of an old ticket.

[2022-10-28 21:30] #48 closed